body {
background-color: rgb(90, 201, 105);
font-family: 'Times New Roman', Times, serif;
}
header h1 {
    font-size: 4rem;
    color: white;
    background-color: rgb(77, 10, 1);
    padding: 5px;
    padding-right: 200px;
    border: solid 3px black;
    border-radius: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header img {
    float: right;
    width:320px;
    height: 400px;
    margin-right: 50px;
    margin-top: -100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.746), 0 6px 20px 0 rgba(0, 0, 0, 0.753);
}
main {
    font-size: 2rem;
}
main h2 {
    margin-bottom: -15px;
}
footer {
    margin-top: 100px;
    font-size: 1.2em;
    color: white;
    background-color: rgb(77, 10, 1);
    border: solid 3px black;
    border-radius: 10px;
    text-align: center;
}