body {
    background-color: rgb(90, 201, 105);
    }
    header h1 {
        height: 1.2em;
        color: white;
        background-color: rgb(77, 10, 1);
        border: solid 3px black;
        text-align: center;
        font-family: 'Russo One', sans-serif;
        max-width: 100%;
        padding: 2px;
    }
    header img {
        max-width: 100%;
        width:210px;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.746), 0 6px 20px 0 rgba(0, 0, 0, 0.753);
        margin-left: 6em;
    }
    main {
        margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    main ul {
        margin-top: 10px;
    }
    main h2 {
        margin-bottom: -10px;
        font-size: 1.5rem;
    }
    footer {
        margin-top: 5rem;
        color: white;
        background-color: rgb(77, 10, 1);
        border: solid 3px black;
        text-align: center;
        font-family: 'Harmattan', sans-serif;
    }
    footer p a {
        color: white;
    }