@media only screen and (min-width: 1028px) {
    /* Header */
    header {justify-content: left; justify-content: left; max-width: 1028px; margin: auto;}
    .headerwrapper {background-color: #550e97;}

    /* Nav */
    .navwrapper {background-color: black;}
    nav {max-width: 1028px; margin: auto;}

    /* Main */
    main {max-width: 1028px; margin: -22px auto;}
    main .hideMeSmall {margin-bottom: 30px;}
    main .contact img#small {display: block; position: absolute; width: 25%; bottom: 20px; right: 10px;}
    main section .forecast {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}



    /* Footer */
    footer {max-width: 1028px; margin: 22px auto 0 auto;}
}