@media only screen and (min-width: 1028px) {
    header {justify-content: left; max-width: 1028px; margin: auto;}
    nav {max-width: 1028px; margin: auto;}
    main {max-width: 1028px; margin: -22px auto;}
    footer {max-width: 1028px; margin: 22px auto 0 auto;}
}