.rentals h2 {font-size: 0.9rem;}
.rentals {display: grid; grid-template-columns: 1fr;}
.rentals section {
    padding: 0;
    border: 1px solid black;
    background-color: rgb(216, 190, 190);
    text-align: center;
    margin: auto;
    width: 255px;
    height: 398px;
    margin-bottom: 50px;
}
.rentals section p {font-size: 1rem;}
.rentals section img {display: block; width: 253px; height: 181px;}


@media only screen and (min-width: 560px) {
    .rentals {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1028px) {
    .rentals {
        grid-template-columns: 1fr 1fr 1fr;
    }
}