form fieldset {
    margin: 2rem 0;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: .5rem 2%;
}
.flex-outer li {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 100px;
  max-width: 210px;
}
.flex-outer > li > label + *,
.flex-inner {
  flex: 0 0 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-inner li {
    margin-left: 127px;
    width: 200px;
}
form input.submitBtn {
    border: none;
    background-color: #14213d;
    color: #e5e5e5;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form legend {
    color: #000000;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
}
form input {
    padding: 7px;
    border: 1px solid #999;
    border-radius: 7px;
    color: rgb(77, 77, 77);
    background-color: rgba(0,0,0,0.1);
}
form input:required {
    border-color: red;
}
form input:required:valid {
    border-color: green;
}