h1 {text-align: center;}
.cities {display: grid; grid-template-columns: 1fr; grid-gap: 0.8em;}
.cities section {
    padding: 0;
    border: 1px solid black;
    background-color: rgb(216, 190, 190);
    text-align: center;
    margin: auto;
    max-width: 280px;
    max-height: 410px;
    margin-bottom: 50px;
}
section:nth-of-type(1) p:nth-of-type(1), section:nth-of-type(2) p:nth-of-type(1) {padding-top: 20px;}
#img {padding: 0; margin: 0; width: 300px; max-height: 156px; margin-bottom: -4px;}



@media only screen and (min-width: 560px) {
    .cities {
        grid-template-columns: 1fr;
    }
    .cities section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 522px;
        max-height: 250px;
    }
    .cities section:nth-child(2) #img {
        grid-column: 1;
        grid-row: 1;
    }
    .cities section:nth-child(2) div {
        grid-column: 2;
    }
    .cities section #img {margin: 45px 5px 5px 5px; width: 250px;}
}

@media only screen and (min-width: 1028px) {
    .cities {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cities section {display: block; max-width: 280px; max-height: 410px;}
    .cities section #img {padding: 0; margin: 0; width: 300px; max-height: 156px; margin-bottom: -4px;}

}