@media only screen and (min-width: 560px) {
    /* Header */
    #logo {width: 90px;}
    #header h1 {font-size: 2.5rem;}
    #header h2 {font-size: 1.5rem;}

    /* Navigation */
    button {float: none; margin: 7px; display: none;}
    .hide {display: flex;}
    .hide li {flex: 1;}
    .hide li a {text-align: left;}

    /* Main */
    main .hideMeSmall {display: block;}
    main section .forecast {grid-template-columns: 1fr 1fr 1fr;}
    main article img#small {display: none;}
    main article img#medium {display: block; width: 30%; float:right; margin: -50px 0 0 30px;}

    main .contact {position: relative}
    main .contact article #right {padding-left: 20%;}
    main .contact img#small2 {display: block; position: absolute; width: 25%; bottom: 0px; right: 10px;}


}