body {
    max-width: 1028px;
    background-color: #e5fd94;
    margin: auto;
    box-sizing: border-box;
}
body p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}
h1, h2, h3 {
    font-family: 'Share Tech', sans-serif;
}
header {
    background-color: #550e97;
    text-align: center;
    padding: 0.1rem;
}
header h1, header h2 {
    color: #f5f5f5;
}
nav {
    background-color: #000000;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Share Tech', sans-serif;
}
nav ul li a:hover {
    background-color: #f5f5f5;
    color: #550e97;
    font-weight: 900;
}
.active {
    background-color: rgba(211, 175, 175, 0.123);
}
main {
    padding: 0.4rem;
    background-color: #f5f5f5;
}
.colors {
    width: 100%;
    margin: auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td {
    width: 25%;
    height: 2em;
}
.primary {
    background-color: #550e97;
    color: #f5f5f5
}
.secondary {
    background-color: #e5fd94;
}
.accent1 {
    background-color: #f5f5f5; 
}
.accent2 {
    background-color: #000000;
    color: #f5f5f5;
}
img {
    max-width: 100px;
}
footer {
    background-color: rgb(85, 14, 151);
    text-align: center;
    line-height: 0.5rem;
    padding: 0.2rem;
    color: whitesmoke;
}
footer a{
    color: whitesmoke;
}